@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(254, 253, 250, 1);
  color: rgba(22, 7, 7, 1);
  font-family: "Sansita", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-header.is-open .e-header-background {
  left: 0;
}
.e-header-button-wrapper {
  margin-left: auto;
}
.e-header-icon {
  display: none;
}

.e-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-navigation-list.is-open {
  right: 0;
}
.e-header-icon-menu {
  display: block;
}

.e-header-icon-button.is-open .e-header-icon-menu {
  display: none;
}

.e-header-icon-button.is-open .e-header-icon-close {
  display: block;
}

.e-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(254, 253, 250, 1);
}

.e-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(254, 253, 250, 1);
}
.e-header.is-open .e-header-background {
  left: 0;
}
.e-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-header-icon-menu {
  display: block;
}

.e-header-icon-button.is-open .e-header-icon-menu {
  display: none;
}

.e-header-icon-button.is-open .e-header-icon-close {
  display: block;
}

.e-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.e-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 32px 32px;
  gap: 28px;
  background: rgba(254, 253, 250, 1);
}

.e-navigation-list.is-open {
  right: 0;
}

.e-navigation-link {
  font-family: Sansita;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(48, 53, 14, 1);
}

.e-navigation-link:hover,
.e-navigatioт-link:focus {
  color: rgba(22, 7, 7, 1);
}

.e-header.is-open {
  background-color: transparent;
}

.e-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .e-navigation-img {
    display: flex;
    margin-right: 130px;
  }
  .e-policy-terms-header-icon-menu {
    display: none;
  }

  .e-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .e-header-background {
  }
  .e-header-icon-button {
    display: none;
  }
  .e-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 4px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .e-navigation-link {
    font-family: Sansita;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0px 15px;
    text-decoration: none;
  }

  .e-navigation-item-desk {
    display: none;
  }
}
.e-home {
  width: 375px;
  height: 812px;
  padding: 140px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.e-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-home-title {
  width: 344.1431579589844px;
  height: 118px;
}

.e-home-text {
  color: rgba(255, 255, 255, 1);
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 40px 0 80px;
}

.e-home-google-button-image {
  width: 180px;
  height: 57px;
}

.e-home-google-button-link:hover .e-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .e-home {
    width: 1440px;
    height: 570px;
    padding: 100px 0px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .e-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .e-home-title {
    width: 551.21240234375px;
    height: 189px;
  }

  .e-home-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px 0 40px;
  }
}
.e-why {
  width: 375px;
  height: 350px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Atmosphere.png");
}

.e-why-text {
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(254, 253, 250, 1);
  text-align: center;
  padding-top: 40px;
}

@media screen and (min-width: 1200px) {
  .e-why {
    width: 1440px;
    height: 415px;
    padding: 80px 352px 0;
    background-image: url("/img/Game\ Atmosphere\ \(1\).png");
  }
  .e-why-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 80px;
  }
}

.e-uniqueness {
  width: 375px;
  height: 347px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/CTA.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-uniqueness-text {
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(254, 253, 250, 1);
  padding: 40px 0;
}

@media screen and (min-width: 1200px) {
  .e-uniqueness {
    width: 1440px;
    height: 434px;
    padding: 80px 160px 0;
    background-image: url("/img/CTA\ \(1\).png");
  }
  .e-uniqueness-text {
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 40px 0 80px;
  }
}
.e-about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 597px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ Game.png");
}

.e-about-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: center;

  -webkit-text-stroke: 1px rgba(48, 53, 14, 1);
  color: rgba(240, 232, 4, 1);
  font-style: italic;
}

.e-about-text {
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 40px;
}

@media screen and (min-width: 1200px) {
  .e-about {
    padding: 80px 352px 0;
    width: 1440px;
    height: 469px;
    background-image: url("/img/About\ the\ Game\ \(1\).png");
  }
  .e-about-title {
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-about-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 80px;
  }
}
.e-how {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.e-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.e-how-item {
  width: 343px;
  height: 325px;
}

.e-how-img {
  margin: auto;
}

.e-how-text-bold {
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(189, 50, 0, 1);
  padding: 24px 0 4px;
}

.e-how-text {
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .e-how {
    width: 1440px;
    padding: 80px 160px;
  }
  .e-how-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 80px;
    justify-content: center;
  }

  .e-how-item {
    width: 352px;
    height: 334;
  }

  .e-how-text-bold {
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-how-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-characters {
  padding: 40px 16px 0;
  margin: auto;
  width: 375px;
  height: 571px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Main\ Characters.png");
}

.e-characters-list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding: 40px 0 0px 25px;
}
.e-characters-item {
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(189, 50, 0, 1);
}
.e-characters-text-bold {
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(189, 50, 0, 1);
}

.e-characters-text {
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(22, 7, 7, 1);
}

@media screen and (min-width: 1200px) {
  .e-characters {
    padding: 80px 160px;
    width: 1440px;
    height: 427px;
    background-image: url("/img/Main\ Characters\ \(1\).png");
  }
  .e-characters-list {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding: 80px 0 0px 25px;
  }
  .e-characters-item {
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .e-characters-text-bold {
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-characters-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.e-reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.e-reviews-list {
  padding-top: 40px;
}
.e-reviews-lists {
  display: none;
}
.e-reviews-item {
  margin: 0 5px;
  width: 288px;
  height: 147px;

  border-radius: 32px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;

  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.15) inset;

  border: 1px solid rgba(227, 232, 198, 1);
  background: linear-gradient(180deg, #ffffef 0%, #ffebcb 100%);
}

.e-reviews-text-bold {
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(189, 50, 0, 1);
}

.e-reviews-text {
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .e-reviews {
    width: 1440px;
    padding: 80px 160px;
  }
  .e-reviews-list {
    display: none;
  }
  .e-reviews-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 32px;
    justify-content: center;
  }
  .e-reviews-item {
    margin: 0;
    width: 352px;
    height: 132px;
    border-radius: 32px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
  }

  .e-reviews-text-bold {
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-reviews-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}

.e-faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.e-faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.e-faq-question {
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(189, 50, 0, 1);
}

.e-faq-answer {
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 4px;
}

@media screen and (min-width: 1200px) {
  .e-faq {
    padding: 80px 352px 0;
    height: 735px;
    width: 1440px;
    background-image: url("/img/FAQ.png");
  }
  .e-faq-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .e-faq-question {
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-faq-answer {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-features {
  width: 375px;
  height: 893px;
  margin: auto;
  padding: 40px 16px 0px;
  background-image: url("/img/Game\ Features.png");
}

.e-features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.e-features-item-two {
  margin-top: 205px;
}

.e-features-text-bold {
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(189, 50, 0, 1);
}

.e-features-text {
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 4px;
}

@media screen and (min-width: 1200px) {
  .e-features {
    width: 1440px;
    height: 592px;
    padding: 80px 160px;
    background-image: url("/img/Game\ Features\ \(1\).png");
  }
  .e-features-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    column-gap: 416px;
  }
  .e-features-item {
    width: 352px;
    height: 61px;
  }
  .e-features-item-two {
    margin-top: 0px;
  }

  .e-features-text-bold {
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-features-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-policy-terms-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(189, 50, 0, 1);
}

.e-policy-terms-text {
  padding-top: 20px;
  font-family: Sansita;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
}

.e-policy-terms-texts {
  padding-top: 8px;
}

.e-policy-terms-text-one {
  padding-top: 20px;
}

.e-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.e-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.e-email-link {
  color: inherit;
  text-decoration: none;
}

.e-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .e-policy-terms-container {
    padding: 160px 160px 80px;
    width: 1440px;
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-policy-terms-title {
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .e-policy-terms-text {
    padding-top: 40px;
    font-family: Sansita;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-policy-terms-text-one {
    padding-top: 30px;
  }

  .e-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.e-footer {
  width: 375px;
  margin: auto;
  color: rgba(254, 253, 250, 1);
  background: rgba(22, 7, 7, 1);

  padding: 40px 0px 16px;
}

.e-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.e-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.e-footer-text {
  text-decoration: none;
  color: rgba(254, 253, 250, 1);
  font-family: Sansita;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.e-footer-copyright {
  font-family: Sansita;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .e-footer {
    width: 1440px;
    padding: 40px 0 16px;
  }

  .e-footer-text {
    font-family: Sansita;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-footer-copyright {
    font-family: Sansita;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px;
  border-radius: 32px;
  background: rgba(22, 7, 7, 1);

  z-index: 1000;
  display: none;
}

.e-cookie-popup-text-two {
  font-family: Sansita;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(241, 238, 233, 1);
}

.e-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.e-cookie-button {
  border: none;
  background-color: transparent;
  width: 256px;
  border-radius: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: Sansita;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

#accept-cookies {
  background: rgba(240, 232, 4, 1);
  border: none;
  color: rgba(13, 14, 15, 1);
}

.e-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .e-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .e-cookie-popup-text-two {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    width: 682px;
  }

  .e-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .e-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
